* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgb(50, 167, 145);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px;
}

.trybewarts-header-logo {
   height: 80px;
   width: 80px;
   display: flex;
}

.trybewarts-login {
    display: flex;
}

.email .password {
    flex-direction: row;
}
