* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgb(50, 167, 145);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px;
}

.trybewarts-header-logo {
   height: 80px;
   width: 80px;
   display: flex;
}

.trybewarts-login {
    display: flex;
}

.email .password {
    flex-direction: row;
}

.trybewarts-form {
    display: flex;
}

main {
display: flex;
justify-content: space-evenly;

}


#evaluation-form {
    display: flex;
    flex-direction: column;
    width: 675px;
    border: 1px dashed black;
}

#input-name #input-lastname {
    flex-grow: 1;
    width: 45%;
    
}

#trybewarts-forms-logo {
    justify-content: right;
    border: 1px dashed black;
}